:root {
  --main-color: #ef5350;
  --secondary-color: #5db9ff;
}

body {
  min-height: 100vh;
  margin: 0;
}

.App {
  font-family: sans-serif;
}

.Loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.TitleSection {
  padding-top: 10px;
  background-color: var(--main-color);
  width: 100%;
  height: 200px;
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pokedex {
  flex: 1;
}

.TitleSection input {
  width: 400px;
  background-color: white;
}

.TitleSection button {
  width: 200px;
  height: 30px;
  font-size: large;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #00008a;
  margin: 20px;
}

.TitleSection button:hover {
  cursor: pointer;
  background-color: rgb(5, 5, 97);
}

.link {
  text-decoration: none;
  color: white !important;
}

.pokemon-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-image {
  width: 200px;
}

.search-results {
  height: 200px;
  background-color: var(--secondary-color);
  color: white;
}

.results {
  background-color: var(--secondary-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  margin-top: 10px;
  height: 100px;
  background-color: var(--main-color);
  bottom: 0;
  width: 100%;
}

/* mobile */
@media (max-width: 700px) {
  .TitleSection input {
    width: 100%;
    height: 20px;
    padding-left: 10px;
    background-color: white;
  }
}
